/*Fondo*/
body {
  background-image: url(../img/fons.jpg);
  background-size: cover;
  margin: 0%;
  background-attachment: fixed;
}
/*Capçelera*/
ul{
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
.ui{
  text-align: center;
  flex-grow: 1;
  border-right: 1px solid white;
}
.ui:hover{
  background: rgba(0, 0, 0, 0.3);
}
.ui a{
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  font-size: 25px;
}

/*Caixa central*/
.caixaCentral {
  position: absolute;
  top: 150px;
  left: 25%;
  align-items: center;
  background-color: #ffffff;
  width: 55%;
  opacity: 0.95;
  border: black solid 2px;
}
.imagenCentral{
  margin-top: 5%;
  margin-left:10%;
  width: 80%;
  margin-bottom: 5%;
}
h1{
  font-family:Arial, Helvetica, sans-serif;
  margin: 20px;
}
h2{
  font-family:Arial, Helvetica, sans-serif;
  margin: 20px;
}
p{
  margin: 20px;
  font-family:Arial, Helvetica, sans-serif;
}

/*Videos*/
.video{
  width: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 25%;
}